.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 24px;
  margin-top: 100px;
}

.gallery-item {
  display: flex;
  cursor: pointer;
  width: calc((100% - 48px) / 3);
  height: 200px;
}
